<!DOCTYPE html>
<html>

<head>
  <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
</head>

<body>
  <a-scene>
    <a-assets>
      <img id="SkyTexture" src="../static/daytime.jpg">
    </a-assets>

    <a-sky src="#SkyTexture"></a-sky>
    
    <a-box position="0 5.8 -10" animation="property:rotation; to:0 360 0; loop:true; dur:2500; easing:linear" color="red" height="1" width="1"></a-box>

    <a-cylinder position="2 5.8 -10" animation="property:rotation; to:0 0 360; loop:true; dur:2500; easing:linear" color="yellow" height="2" radius="0.5"></a-cylinder>
    
    <a-cylinder position="0 2.4 -10" animation="property:rotation; to:0 0 360; loop:true; dur:2500; easing:linear" color="orange" height="1.9" radius="0.5"></a-cylinder>
    
    <a-box position="2 2.4 -10" animation="property:rotation; to:0 360 0; loop:true; dur:2500; easing:linear" color="purple" height="1" width="1"></a-box>
    
    <a-cylinder position="-40 7 4" animation="property:rotation; to:360 0 0; loop:true; dur:2500; easing:linear" color="green" height="3.5" radius="0.8"></a-cylinder>
 
  </a-scene>
</body>

</html>